@font-face {
    font-family: 'League Gothic Regular';
    src: url('../fonts/leaguegothic-regular-webfont.eot'); /* IE9+ Compat Modes */
    src: url('../fonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/League Gothic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/leaguegothic-regular-webfont.woff2') format('woff2'), /* Super modern browsers */
    url('../fonts/leaguegothic-regular-webfont.woff') format('woff'), /* Modern browsers */
    url('../fonts/LeagueGothic-Regular.otf') format('otf'),
    url('../fonts/leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    background: url('../img/background-HD.jpg') top center no-repeat;
    background-size: 2400px;
}

h1,
h2,
h3,
a {
    font-family: 'League Gothic Regular', sans-serif;
}

div,
h4,
p {
    font-family: 'Open Sans', sans-serif;
}


@media only screen and (min-width: 960px) {
    .header {
        width: 1006px;
        margin: 0 auto;
    }

    .header__logo {
        position: relative;
        top: 13px;
        margin-left: 19px;
    }

    /* navigation positioning */
    .header__nav {
        display: inline-block;
        margin-top: 75px;
        margin-bottom: 174px;
        margin-left: 147px;
    }

    /* navigation block */
    .nav {
        width: 682px;
    }

    .nav__item {
        display: inline-block;
        height: 28px;
        margin: 0 19px;
        padding: 0 5px 2px;
        font-size: 24px;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        text-shadow: 1px 1.7px 2px rgba(0, 0, 0, 0.4);
    }

    .nav__item_active,
    .nav__item:hover {
        border-bottom: 2px solid #edbfff;
        box-sizing: border-box;
    }

    /* slider */

    .slider__entity {
        position: relative;
        width: 968px;
        margin: 77px auto;
    }

    .slider__title {
        font-size: 60px;
    }

    .slider__sub-title {
        text-transform: uppercase;
    }

    .slider__title {
        font-size: 59px;
        color: #fefefe;
    }

    .slider__sub-title {
        font-size: 32px;
        color: #edbfff;
    }

    .slider__paragraph {
        display: inline-block;
        margin-top: 5px;
        width: 525px;
        color: #fff;
        /*font-size: 18px;*/
        font-size: 112%;
        font-family: 'Open Sans', sans-serif;
        line-height: 24px;
    }

    .slider__media {
        position: absolute;
        top: -95px;
        left: 617px;
        z-index: 1;
    }

    .slider__play-link {
        position: absolute;
        top: 149px;
        left: 137px;
    }

    .play-button {
        background-color: transparent;
        border: 0;
        background-image: url('../img/button.png');
        border: 0;
        width: 76px;
        height: 76px;
        cursor: pointer;
        z-index: 2;
    }

    .slider__switches {
        margin-top: 174px;
        margin-left: 63.4%;
    }

    .switches {
        width: 90px;
    }

    .switches__buttons {
        display: none;
    }

    .switches__radio {
        display: inline-block;
        margin: 1px;
        width: 16px;
        height: 16px;
        background-color: #000;
        border-radius: 50%;
        opacity: .35;
    }

    .switches__radio:hover {
        opacity: .4;
    }

    #slide1:checked ~ #switches label:nth-child(1),
    #slide2:checked ~ #switches label:nth-child(2),
    #slide3:checked ~ #switches label:nth-child(3),
    #slide4:checked ~ #switches label:nth-child(4) {
        background-color: #fff;
        border: 2px solid #000;
        box-sizing: border-box;
        opacity: 1;
    }

    .slider__arrows {
        position: relative;
    }
    .slider__label {
        /*display: none;*/
        position: absolute;
        top: -216px;
        width: 29px;
        height: 41px;
    }

    #slide1:checked ~ #arrows label:nth-child(4),
    #slide2:checked ~ #arrows label:nth-child(1),
    #slide3:checked ~ #arrows label:nth-child(2),
    #slide4:checked ~ #arrows label:nth-child(3) {
        background-image: url('../img/prev.png');
        left: 52px;
        display: block;
    }

    #slide1:checked ~ #arrows label:nth-child(2),
    #slide2:checked ~ #arrows label:nth-child(3),
    #slide3:checked ~ #arrows label:nth-child(4),
    #slide4:checked ~ #arrows label:nth-child(1) {
        background-image: url('../img/next.png');
        right: 59px;
        /*right: 5.6%*/
        display: block;
    }

}
